<ul>

  <li>
    <textarea>Name: </textarea><%= @student.name %>
  </li>

  <li>
    <textarea>Birthday:</textarea><%= @student.birthday.strftime("%m/%d/%Y")  %>
  </li>

  <li>
    <textarea>Hometown:</textarea> <%= @student.hometown.capitalize %>
  </li>
</ul>
